<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Activity Test Page</title>
</head>
<body>
    <main>
        <p>Here's an activity.</p>
        <div th:each="comment:${comments}">
                <p th:text="${comment.text}"></p>
        </div>

        <form method="POST" th:action="@{/comments}">
            <div>
                <label th:for="comment">Leave your comments</label>
                <input th:value="${comment.text}" id="comment" name="comment"/>
            </div>

            <button type="Submit">Save</button>
        </form>
    </main>
</body>
</html>