<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>easyTravel Registration Form</title>
</head>
<body>
    <div>
        <h1>User Registration -Sign Up</h1>
    </div>

    <form method="post">
        <div>
            <div>
                <div>
                    <label th:for="username">Username</label>
                    <input type="text" />
                    <label th:for="password">Password</label>
                    <input type="password" />
                    <label th:for="verifypassword">Verify Password</label>
                    <input type="password" />
                </div>
            </div>
        </div>
    </form>

</body>
</html>